@model LoginDto
@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="tr">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>Blogy Giriş</title>

    <link rel="stylesheet" href="~/Spike-Bootstrap-1.0.0/src/assets/css/styles.min.css" />
    <link rel="stylesheet" href="~/css/login-custom.css" />
</head>

<body class="login-body">

    <div class="login-wrapper">

      
        <div class="login-left">
            <div class="blob"></div>
            <div class="blob2"></div>
        </div>

   
        <div class="login-right">
            <div class="login-card">

                <h2 class="login-title">Blogy</h2>
                <p class="login-sub">Kullanıcı bilgilerinizle giriş yapabilirsiniz.</p>

                <form method="post">

                    <label class="form-label mt-3">Kullanıcı Adı</label>
                    <input type="text" asp-for="UserName" class="form-control login-input" />

                    <label class="form-label mt-3">Şifre</label>
                    <input type="password" asp-for="Password" class="form-control login-input" />

                    <span class="text-danger">@Html.ValidationSummary()</span>

                    <button type="submit" class="btn btn-login glow-btn w-100 mt-4">Giriş Yap</button>

                    <div class="login-footer">
                        <span>Hesabınız yok mu?</span>
                        <a href="/Register/Index">Kayıt Ol</a>
                    </div>

                </form>
            </div>
        </div>

    </div>

</body>
</html>
