
@model List<ResultCommentDto>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Areas/Admin/Views/AdminLayout/Layout.cshtml";
    int count = 0;
}

<div class="comment-card">

    <div class="comment-header d-flex justify-content-between align-items-center">
        <h4 class="fw-bold mb-0">
            <i class="bi bi-chat-dots-fill me-2"></i> Yorumlar
        </h4>

        <a href="/Admin/Comment/CreateComment/" class="btn btn-light text-dark fw-semibold">
            <i class="bi bi-plus-circle me-1"></i> Yeni Yorum
        </a>
    </div>

    <div class="comment-table">
        <div class="table-responsive">
            <table class="table table-borderless align-middle text-nowrap">
                <thead class="fw-semibold text-secondary">
                    <tr>
                        <th>#</th>
                        <th>Kullanıcı</th>
                        <th>Blog</th>
                        <th class="text-start">Yorum</th>
                        <th class="text-start">Sil</th>
                    </tr>
                </thead>

                <tbody>
                    @foreach (var item in Model)
                    {
                        count++;

                        <tr>
                            <td><strong>@count</strong></td>

                            <td>
                                <img src="@item.User.ImageUrl" class="comment-user-img" />
                            </td>

                            <td> @(item.Blog.Title?.Length > 20 ? item.Blog.Title.Substring(0, 20) + "..." : item.Blog.Title) </td>

                            <td> @(item.Content?.Length > 20 ? item.Content.Substring(0, 20) + "...": item.Content) </td>

                            <td class="text-center">
                                <button type="button" onclick="confirmDelete('/Admin/Comment/DeleteComment/@item.Id')" class="btn btn-danger btn-circle">
                                    <i class="bi bi-trash3"></i>
                                </button>
                            </td>

                        </tr>
                    }
                </tbody>

            </table>
        </div>
    </div>

</div>
