@model List<ResultBlogDto>
@*
    Popular Blogs Component
*@
<section class="section posts-entry posts-entry-sm bg-light">
	<div class="container">
		<div class="row">
			@foreach (var item in Model)
			{
				<div class="col-md-6 col-lg-3">
					<div class="blog-entry">
						<a href="single.html" class="img-link">
							<img src="@item.CoverImage" style="width:290px; height:160px;" alt="Image" class="img-fluid">
						</a>
						<span class="date">@item.CreatedDate</span>
						<h3><a href="single.html">@item.Title</a></h3>
					</div>
				</div>
			}
		
		</div>
	</div>
</section>
