@model List<ResultBlogDto>
@*
    Popular Blogs Component
*@
<section class="mt-4">
    <h4 class="fw-bold mb-3">Popüler Bloglar</h4>

    <div class="row">
        @foreach (var item in Model)
        {
            <div class="col-md-3 mb-4">
                <div class="popular-card">
                    <img src="@item.CoverImage" class="popular-img" />

                    <div class="p-3">
                        <span class="popular-date">@item.CreatedDate.ToShortDateString()</span>

                        <div class="popular-title">
                            @(item.Title.Length > 40 ? item.Title.Substring(0, 40) + "..." : item.Title)
                        </div>
                    </div>
                </div>
            </div>
        }
    </div>
</section>

