@model string

<div class="empty-page">
    <div class="empty-icon">
        <i class="fa-regular fa-folder-open"></i>
    </div>

    <h4 class="empty-title">@Model</h4>
    <p class="empty-text">Burada görüntülenecek herhangi bir içerik bulunamadı.</p>
</div>
