
@*
    Member Layout Sidebar Component
*@

<aside class="left-sidebar">
    <div>
        <!-- Sidebar navigation-->
        <nav class="sidebar-nav scroll-sidebar" data-simplebar="">
            <ul id="sidebarnav">
                <li class="nav-small-cap">
                    <iconify-icon icon="solar:menu-dots-linear" class="nav-small-cap-icon fs-4"></iconify-icon>
                    <span class="hide-menu">Blogy</span>
                </li>         
                <li class="sidebar-item">
                    <a class="sidebar-link primary-hover-bg" href="/Member/MemberProfile/Index" aria-expanded="false">
                        <iconify-icon icon="solar:atom-line-duotone"></iconify-icon>
                        <span class="hide-menu">Profilim</span>
                    </a>
                </li>          
                <li class="sidebar-item">
                    <a class="sidebar-link primary-hover-bg" href="/Member/Blog/Index" aria-expanded="false">
                        <iconify-icon icon="solar:atom-line-duotone"></iconify-icon>
                        <span class="hide-menu">Bloglar</span>
                    </a>
                </li>         
                <li class="sidebar-item">
                    <a class="sidebar-link primary-hover-bg" href="/Member/ChangePassword/Index" aria-expanded="false">
                        <iconify-icon icon="solar:atom-line-duotone"></iconify-icon>
                        <span class="hide-menu">Şifre İşlemleri</span>
                    </a>
                </li>
                <li class="nav-small-cap">
                    <iconify-icon icon="solar:menu-dots-linear" class="nav-small-cap-icon fs-4"></iconify-icon>
                    <span class="hide-menu">Auth</span>
                </li>
                <li class="sidebar-item">
                    <a class="sidebar-link primary-hover-bg" href="/Login/LogOut" aria-expanded="false">
                        <iconify-icon icon="solar:login-3-line-duotone"></iconify-icon>
                        <span class="hide-menu">Çıkış Yap</span>
                    </a>
                </li>
            </ul>
        </nav>
        <!-- End Sidebar navigation -->
    </div>
    <!-- End Sidebar scroll-->
</aside>