
@{
    Layout = null;
}


<!doctype html>
<html lang="en">
@await Component.InvokeAsync("_UILayoutHeadComponent")
<body>

	<div class="site-mobile-menu site-navbar-target">
		<div class="site-mobile-menu-header">
			<div class="site-mobile-menu-close">
				<span class="icofont-close js-menu-toggle"></span>
			</div>
		</div>
		<div class="site-mobile-menu-body"></div>
	</div>

	@await Component.InvokeAsync("_UILayoutNavbarComponent")

	@RenderBody()

	@await Component.InvokeAsync("_UILayoutFooterComponent")
	<!-- Preloader -->
	<div id="overlayer"></div>
	<div class="loader">
		<div class="spinner-border text-primary" role="status">
			<span class="visually-hidden">Loading...</span>
		</div>
	</div>


	@await Component.InvokeAsync("_UILayoutScriptComponent")


</body>
</html>
