@model List<ResultBlogDto>
@*
    UI Layout Footer Component
*@

<footer class="site-footer">
    <div class="container">
        <div class="row">
            <div class="col-lg-4">
                <div class="widget">
                    <h3 class="mb-4">Hakkımızda</h3>
                    <p>Uzak değil, tam burada… Kelimelerin bir araya gelerek yeni fikirler, ilham veren düşünceler ve keyifli içerikler oluşturduğu bir dünyadayız. Amacımız; okurlarımıza sade, anlaşılır ve değer katan yazılar sunmak. Burada her satır bir yolculuk, her paragraf yeni bir keşif.</p>
                </div>
                <div class="widget">
                    <h3>Sosyal Medya</h3>
                    <ul class="list-unstyled social">
                        <li><a href="#"><span class="icon-instagram"></span></a></li>
                        <li><a href="#"><span class="icon-twitter"></span></a></li>
                        <li><a href="#"><span class="icon-facebook"></span></a></li>
                        <li><a href="#"><span class="icon-linkedin"></span></a></li>
                        <li><a href="#"><span class="icon-pinterest"></span></a></li>
                        <li><a href="#"><span class="icon-dribbble"></span></a></li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-4 ps-lg-5">
                <div class="widget">
                    <h3 class="mb-4">Şirket</h3>
                    <ul class="list-unstyled float-start links">
                        <li><a href="#">Hakkımızda</a></li>
                        <li><a href="#">Hizmetler</a></li>
                        <li><a href="#">Vizyon</a></li>
                        <li><a href="#">Misyon</a></li>
                        <li><a href="#">Kullanım Şartları</a></li>
                        <li><a href="#">Gizlilik Politikası</a></li>
                    </ul>

                    <ul class="list-unstyled float-start links">
                        <li><a href="#">İş Ortakları</a></li>
                        <li><a href="#">Kurumsal</a></li>
                        <li><a href="#">Kariyer</a></li>
                        <li><a href="#">Blog</a></li>
                        <li><a href="#">SSS</a></li>
                        <li><a href="#">Yaratıcı Çözümler</a></li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="widget">
                    <h3 class="mb-4">Son Eklenen Bloglar</h3>
                    <div class="post-entry-footer">
                        <ul>
                            @foreach (var item in Model)
                            {
                                <li>
                                    <a href="">
                                        <img src="@item.CoverImage" alt="Image placeholder" class="me-4 rounded">
                                        <div class="text">
                                            <h4>@item.Title</h4>
                                            <div class="post-meta">
                                                <span class="mr-2">@item.CreatedDate.ToShortDateString() </span>
                                            </div>
                                        </div>
                                    </a>
                                </li>
                            }
                        </ul>
                    </div>


                </div>
            </div>
        </div>

        <div class="row mt-5">
            <div class="col-12 text-center">
                <!--
                    **==========
                    NOTE:
                    Please don't remove this copyright link unless you buy the license here https://untree.co/license/
                    **==========
                  -->

                <p>
                    Telif Hakkı &copy; 2025. Tüm Hakları Saklıdır. &mdash; Tasarım: <a href="https://untree.co">Untree.co</a> &nbsp; Dağıtım: <a href="https://themewagon.com">ThemeWagon</a> https://untree.co/license
                </p>
            </div>
        </div>
    </div>
</footer>