
@model List<ResultSocialDto>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Areas/Admin/Views/AdminLayout/Layout.cshtml";
}

<div class="social-body-bg p-4">
    <h2 class="text-white fw-bold mb-4">Sosyal Medya Hesapları</h2>

    <div class="social-grid">

        @foreach (var item in Model)
        {
            <div class="glass-wrapper">
                <div class="edit-icon">
                    <a href="/Admin/Social/UpdateSocial/@item.Id">
                        <i class="bi bi-pencil-square"></i>
                    </a>
                </div>

                <a href="@item.Url" target="_blank" style="text-decoration:none;">
                    <div class="glass-card text-center">
                        <i class="@item.Icon social-icon"></i>

                        <div class="social-name">@item.Name</div>

                        <div class="social-url mt-2">@item.Url</div>
                    </div>
                </a>
            </div>
        }

    </div>
</div>

